:root {
  ---primary: rgb(93, 93, 172);
}
body {
  margin: 0;
  background-color: lightgray;
}
a {
  color: var(---primary);
}
input {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(---primary);
}
button {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(---primary);
}